* {
  margin: 0;
}

.main-background {
  background-color: #ffc2a0;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.todo-container {
  background-color: white;
  border-radius: 1rem;
  margin: 5rem;
  padding: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.heading {
  margin: 0;
  color: #ff8542;
  font-family: 'Roboto';
}

.outmost-container {
  display: flex;
  justify-content: center;
  margin-top: 1.5rem;
}
